@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import '../../node_modules/flowbite-vue/dist/index.css';

html, body {
  font-family: "Open Sans", sans-serif;
}

#app {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.gradient {
  background: linear-gradient(180deg, rgba(121,125,127,1) 0%, rgb(173, 145, 115) 100%);
}

h1 {
  margin: 0 auto;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 35px;
  border-radius: 50px;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0px 1px 20px -13px rgba(66, 68, 90, 1);
}

.shadow-2 {
  box-shadow: 0px 16px 27px 3px rgba(0,0,0,0.1);
}